<%- include('../partials/header')  %> 
<main>
    <div class="card mx-auto mt-4" style="width: 480px;">
        <div class="card-body">
            <div class="card-header border text-center text-white h2 bg-success mb-4">
                Edit User
            </div>
            <form action="/update/<%= user._id %> " method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control form-control-lg" id="name" name="name" value="<%= user.name %> " required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control form-control-lg" id="email" name="email" value="<%= user.email %> " required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control form-control-lg" id="phone" name="phone" value="<%= user.phone %> " required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Select image</label>
                    <input type="file" id="image" class="form-control" name="image" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                </div>
                <div>
                    <img class="img-thumbnail my-4" src="/<%= user.image %>" alt="image" width="120px" height="120px" />
                </div>
                <input type="hidden" value="<%= user.image %> " name="old_image">
                <div class="mb-3">
                    <input type="submit" value="Update" name="update" class="btn btn-secondary btn-lg">
                </div>
            </form>
        </div>
    </div>
    
</main>
<%- include('../partials/footer') %> 